<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
    <link type="text/css" rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/bootstrap-theme.min.css">
</head>
<body>
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><a href="/" alt="Home Page">Home</a></li>
            <li><a href="/random" alt="Random Numbers">Random</a></li>
            <li><a href="/users" alt="Users Page">Users</a></li>
        </ul>
    </nav>